@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.first {
    position: relative;
    height: 95vh;

}


.first .banner img {
    object-fit: cover;
    object-position: center;


    height: 100%;
    width: 100%;

    opacity: 0.3;
    position: absolute;
    top: 0;
}

@media screen and (max-width:945px) {
    .banner img {
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: center;


        height: 100%;
        width: 100%;

        opacity: 0.3;
        position: absolute;
        top: 0;
    }
}

@media screen and (max-width:945px) {
    .first {
        position: relative;
        height: 60vh;

    }
}



.first nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 81vw;
    margin: auto;
    height: 60px;
}

.logo {
    position: relative;
    top: 12px;
    left: 3px;
    z-index: 1;
}

.sep {

    position: relative;
    background: #B10F21;
}

.sep::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    height: 10px;
    border-top: 5px solid #B10F21;
    border-radius: 50%;
}

.trending {
    /* height: 80vh; */
    max-width: 100%;
    margin-left: 9vw;
    margin-right: 9vw;

}

.content {
    color: white;
    margin: 50px;
    margin-left: 9px;
    font-size: 22px;
}


.scroll {
    margin-left: 110px;
    padding-left: 12px;
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    max-width: 80vw;
    margin: auto;
    overflow: auto;

    /* Step 2: Hide for modern standards (Firefox / new engines) */
    scrollbar-width: none;

    /* Step 3: Hide for Internet Explorer and legacy Edge */
    -ms-overflow-style: none;
    height: 320px;
}

/* Step 4: Hide for WebKit browsers (Chrome, Safari, Opera) */
.scroll::-webkit-scrollbar {
    display: none;
}

.card img {
    border: solid transparent;
    border-radius: 15px;
    width: 185px;
    height: 235px;

}

.num {
    color: black;
    font-size: 100px;
    margin-bottom: 74px;
    position: relative;
    bottom: 125px;
    left: -9px;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
}

@media screen and (max-width:945px) {
    .card img {
        border: solid transparent;
        border-radius: 15px;
        width: 125px;
        height: 170px;

    }

}

@media screen and (max-width:945px) {
    .scroll {
        margin-left: 110px;
        padding-left: 12px;

        display: flex;
        gap: 15px;
        overflow-x: scroll;
        max-width: 80vw;
        margin: auto;
        overflow: auto;

        /* Step 2: Hide for modern standards (Firefox / new engines) */
        scrollbar-width: none;

        /* Step 3: Hide for Internet Explorer and legacy Edge */
        -ms-overflow-style: none;
    }

}

.item {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    margin-top: -54px;
}

.t1,
.t2 {
    font-size: 50px;
    font-weight: 900;
}

.t3 {
    font-size: 15px;
    font-weight: 800;
    margin-top: 20px;
    ;
}

.t4 {
    margin-top: 40px;
}

.email {
    display: flex;
    margin-top: 35px;
    max-width: 80vw;
}

.btn0 {
    padding: 5px 40px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: #0000004f;
    color: white;
    font-size: 17px;
    fill: currentColor;
    position: relative;
    z-index: 1;
    margin-top: 11px;
}

.btn1 {
    padding: 7px 14px;
    font-size: 15px;
    background-color: red;
    color: white;
    position: relative;
    z-index: 1;
    border-style: none;
    border-radius: 3px;
    margin-left: 8px;
}

.email input {

    border: solid 1px white;
    border-radius: 5px;
    background-color: #0000004f;
    color: white;
    font-size: 17px;
    fill: currentColor;
    width: 25vw;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    height: 4vh;


}

.email .btn button {

    font-size: 25px;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 3px;
      width: 200px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 10px;
    


}

.grid_card {
    margin-left: 150px;
    margin-right: 150px;


}

.grid_card> :first-child {
    color: white;

    font-size: 25px;

}

.cg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
    margin-top: 21px;
    
}


.cardgrid {
    

    position: relative;

    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    height: 286px;
    border-radius: 20px;
     padding: 20px;
    box-sizing: border-box;
}

.cardgrid img {
    
    height: 60px;
    width: 60px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.cardgrid div {
    color: white;
    font-weight: 700;
    font-size: 21px;

    margin-left: 15px;
    margin-top: 8px;
}

.cardgrid p {
    color: gray;
    margin-left: 14px;
    margin-top: 25px;
    font-size: 16px;

}

.cardgrid .edit {
    
    height: 60px;
    width: 60px;
    position: absolute;
    right: 20;
    bottom: 20;

}

.btnfq {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    font-size: 24px;
    font-weight: 500;
    color: white;
}


.faq h3 {
    color: white;
    font-size: 24px;
    margin-left: 118px;
    margin-top: 63px;
    margin-bottom: 35px;
}

.fq {
    max-width: 80vw;
    margin: auto;
    padding-left: 0px;

}

.btnfq svg {
    height: 24px;
    filter: invert(1);
}

.fq .btnfq {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -30px;
    margin-top: 9px;
    font-size: 24px;
}

.bfoot input {
    border: solid 1px white;
    border-radius: 5px;
    background-color: #0000004f;
    color: white;
    font-size: 17px;
    fill: currentColor;
    width: 50vw;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;


}

.rtw {
    max-width: 50vw;
    margin: auto;
    padding-top: 85px;
}

.rtw h3 {
    font-size: 16px;
    color: white;
    font-weight: normal;
    text-align: center;
}

.bfoot {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
}

.bfoot button {

    background-color: red;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: 24px;
    text-align: left;
    width: 185px;
    height: 58px;
    text-align: center;


}

.foot {
    color: white;
}

.foot a {
    color: white;
}

.foot_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 20px;
    margin-top: 60px;
    margin-bottom: 70px;


}

.foot_grid a {
    color: white;
    font-size: 14px;
    font-weight: 200;

}

footer {
    max-width: 80vw;
    margin: auto;
    margin-top: 105px;
}


footer div {
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 30px;

}

@media (max-width: 1279px) {
    .cg {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:945px){
    .logo {
    position: relative;
    top: 12px;
    left: 3px;
    z-index: 1;
    height: 30px;
}

.item {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    margin-top: -54px;
    text-align: center;
}

.t1,
.t2 {
    font-size: 30px;
    font-weight: 900;
}

.t3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    
}

.t4 {
    margin-top: 30px;
    font-size: 15px;
}
.email {
    display: flex;
    margin-top: 35px;
    max-width: 80vw;
    flex-direction: column;
    align-items: center;
    
}

.email input {

    border: solid 1px white;
    border-radius: 5px;
    background-color: #0000004f;
    color: white;
    font-size: 17px;
    fill: currentColor;
    width: 80vw;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    height: 4vh;
    margin-bottom: 10px;


}

.cg {
    grid-template-columns: 1fr;
}

.grid_card {
    margin-left: 40px;
    margin-right: 40px;


}
.cardgrid {
    

    position: relative;

    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    height: 230px;
    border-radius: 20px;
     padding: 20px;
    box-sizing: border-box;
}

.bfoot input {
    border: solid 1px white;
    border-radius: 5px;
    background-color: #0000004f;
    color: white;
    font-size: 17px;
    fill: currentColor;
    width: 80vw;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;


}

.bfoot {
    flex-direction: column;
    align-items: center;
}

.foot_grid{
    grid-template-columns: 1fr 1fr;
}


}


@media screen and (max-width:650px){
    .btn0 {
    padding: 5px 15px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: #0000004f;
    color: white;
    font-size: 17px;
    fill: currentColor;
    position: relative;
    z-index: 1;
    margin-top: 11px;
}

.foot_grid{
    grid-template-columns: 1fr ;
}

.faq h3{
    text-align: center;
    margin-left: 0px;
}

.fq .btnfq{
    margin-left: 7px;
}

}



